/*--------------------------------------------------------------------------------------------------------------------*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: white;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(196,35,52,0.8); 
    border-radius: 4px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(196,35,52,1); 
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* Main Style */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

$red: #c42334;
$lightred: #c93848;
$petrol: 	#0c2c34;
$lightpetrol: #244148;
$lighterpetrol: #3c565c;
$blue: #0c2434;
$lightblue: #243948;
$lighterblue: #3c4f5c;

html, body {
    outline: none;
    font-family: 'Poppins', sans-serif!important;
    font-size: 18px;
    padding: 0;
    margin: 0;
    color: $lighterblue;
    font-weight: 400;
}

*:focus {
    outline: none;
}

.section-padding {
  padding: 60px 0;
}

.font-weight-bold {
  font-weight: 600!important;
}

/*--------------------------------------------------------------------------------------------------------------------*/
//NavBar Styles

#mainNav {
  transition: 0.5s ease;
}

nav {

  background: white;

  .navbar-brand {
    img {
      width: auto;
      height: 50px;
    }
  }
  
  .icon-bar {
    width: 25px;
    height: 2px;
    background-color: $red;
    display: block;
    transition: all 0.3s;
    margin-bottom: 5px;
  }
   
  .navbar-toggler {
    border: none;
    background: transparent !important;
  }
  
  .navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
   
  .navbar-toggler .middle-bar {
    opacity: 0;
  }
   
  .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
   
  .navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
  }
   
  .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
  }
   
  .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
  }
  
  .nav-item {
    padding: 26px 0;
  }
  
  .nav-link {
    text-align: center;
    padding: 0 15px!important;
    color: $lighterblue!important;
    font-size: 16px;
    transition: color 0.3s;
    font-weight: 500;
  }
  
  .nav-link:hover {
    color: $red!important;
  }
  
  .nav-link:active {
    color: $red!important;
  }

  .dropdown-toggle::after {
    vertical-align: 0.2;
}
  
  .sq-btn {
    border-color: $red!important;
    border-radius: 7px!important;
    margin: auto;
    background-color: $red!important;
    color: #fff;
    font-size: 16px;
  }
  
  .sq-btn:hover {
    box-shadow: 0px 0px 6px 0px $red;
  }
  
  .dropdown-menu {
    border: none!important;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    padding: 0;
    margin: 0;
    border-radius: unset;
  }
  
  .show > .dropdown-menu {
    visibility: visible;
    opacity: 1;
  }

  .service-container {
    padding: 20px 0;
    border-bottom: 1px solid #e7eaf3;
    position: relative;
    cursor: pointer;
    word-break: break-word;
  }

  .right-border::after {
    content: "";
    right: -25px;
    width: 1px;
    height: 80%;
    position: absolute;
    background-color: #e7eaf3;
  }

  .service-icon {
    font-size: 40px;
    color: $red;
    margin-inline-end: 15px;
  }

  .service-title {
    color: $lighterpetrol;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s;
  }

  .service-container:hover .service-title {
    color: $red;
    text-decoration: unset;
  }

  .service-desc {
    margin: 0; 
    color: #77838f;
    font-size: 16px;
  }

  .service-padding {
    padding: 0 25px;
  }

  .active {
    color: $red!important;
  }
  
  @media only screen and (min-width: 1025px) {
    .dropdown-menu {
      display: block!important;
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      box-shadow: 0 10px 20px rgba(0,0,0,0.08);
      border-top: 2px solid $red!important;
      transform: translateX(-585px);
      min-width: 900px;
    }
  
    .dropdown:hover .dropdown-menu {
      visibility: visible;
      opacity: 1;
      transform: translate(-585px);
    }
    
    .show > .dropdown-menu {
      visibility: visible;
      opacity: 1;
      transform: translate(-585px);
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .sq-btn {
      margin: 7px auto;
    }

    .nav-item {
      padding: 7px 0;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .navbar-toggler {
      margin-right: 3px;
      margin-top: 5px;
    }

    .navbar-brand {
  
      padding-inline-start: 12px;

      img {
        height: 35px;
      }
    }

    .nav-link {
      font-size: 14px;
    }

    .sq-btn {
      font-size: 14px;
    }
    
    .right-border::after {
      display: none;
    }

    .service-icon {
      font-size: 28px;
    }

    .service-title {
      font-size: 14px;
    }

    .service-desc {
      font-size: 14px;
    }
  }
}

/*--------------------------------------------------------------------------------------------------------------------*/
//Header Styles

header {

  width: 100%;
  height: calc(100vh - 79px);
  position: relative;
  overflow: hidden;

  .header__text--title {
    color: $red;
    letter-spacing: 2px;
    margin-bottom: 5px;
    font-size: 68px;
  }

  .header__text--content {
    font-size: 18px;
  }

  #header__text--typing {
    color: $red;
  }

  .header__figure {
    position: relative;
  }

  .header-svg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    margin: auto;
    z-index: -1;
  }

  .figure-image {
    position: absolute;
    width: 95%;
    height: auto;
  }

  .fill-primary {
    fill: $red;
  }

  @media only screen and (max-width: 1024px) {
    
    height: auto;
    padding-top: 60px;
    padding-bottom: 30px;

    .header__text--title {
      font-size: 52px;
    }

    .header__figure {
      display: none;
      visibility: hidden;
    }
  }
  
  @media only screen and (max-width: 767px) {

    padding-top: 30px;
    padding-bottom: 15px;

    .header__text--title {
      font-size: 28px;
    }
  
    .header__text--content {
      font-size: 14px;
    }

    #header__text--typing {
      display: flex;
    }

    br {
      display: none;
    }
  }

  @media only screen and (max-width: 320px) {

  }

}

/*--------------------------------------------------------------------------------------------------------------------*/
//About-US Styles

.about-us {
  position: relative;
  overflow: hidden;

  .about-us__title {
    color: $red;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 400;
  }

  .about-us__content {    
    font-size: 18px;
    margin: 0;
  }

  /* Media Queries for RTL - LTR */

  @media only screen and (max-width: 1024px) {

  }

  @media only screen and (max-width: 767px) {
    .about-us__figure {
      display: none;
      visibility: hidden;
    }

    .about-us__title {
      font-size: 22px;
    }

    .about-us__content {
      font-size: 14px;
    }
  }

  @media only screen and (max-width: 320px) {

  }

}

/*--------------------------------------------------------------------------------------------------------------------*/
//Speciality Styles

.speciality {
  position: relative;
  overflow: hidden;

  .speciality__title--firstly {
    margin: auto;
    color: #00c9a7;
    background: rgba(0, 201, 167, 0.1);
    border-radius: 6.1875rem;
    text-align: center;
    font-size: 16px;
    padding: 7px 15px;
    margin-bottom: 15px;
    display: block;
    width: fit-content;
    font-weight: 400;
  }

  .speciality__title--secondary {
    text-align: center;
    font-size: 28px;
    margin-bottom: 50px;
    line-height: 1.5;
    font-weight: 400;
  }

  .speciality__figure {
    display: block;
    width: 120px;
    height: 120px;
    margin: auto;
  }

  .speciality__title {
    text-align: center;    
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }

  .speciality__content {
    text-align: center;   
    font-size: 16px;
    margin-bottom: 0;
  }

  @media only screen and (max-width: 1024px) {

  }
  
  @media only screen and (max-width: 767px) {
  
    .speciality__title--firstly {
      font-size: 12px;
    }
  
    .speciality__title--secondary {
      font-size: 20px;
      margin-bottom: 30px;
    }

    .speciality__figure {
      width: 100px;
      height: 100px;
    }

    .speciality__title {
      font-size: 16px;
    }
  
    .speciality__content {
      font-size: 14px;
    }

  }
  
  @media only screen and (max-width: 320px) {
  
  }

}

/*--------------------------------------------------------------------------------------------------------------------*/
//Importance Styles

.importance {

  position: relative;
  overflow: hidden;

  .importance__question {   
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: 400;
  }

  .importance__answer {
    text-align: center;
    font-size: 16px;
    margin-bottom: 0;
  }

  .importance__title {
    color: $red;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
  }

  .importance__content { 
    font-size: 16px;
    margin-bottom: 0;
  }

  .importance__note {
    font-size: 14px;  
    text-align: center;  
    margin-bottom: 0;
    margin-top: 15px;
  }

  @media only screen and (max-width: 1024px) {

  }

  @media only screen and (max-width: 767px) {

    .importance__question {
      font-size: 20px;
    }
  
    .importance__answer {
      font-size: 12px;
    }

    .importance__title {
      font-size: 16px;
    }
  
    .importance__content {
      font-size: 14px;
      margin-bottom: 1rem;
    }
    
    .order-0 {
      order: unset;
    }

    .order-1 {
      order: unset;

    }

    .importance__note {
      font-size: 12px;  
    }
  }

  @media only screen and (max-width: 320px) {

  }

}

/*--------------------------------------------------------------------------------------------------------------------*/
//Our Services Styles

.services {

  position: relative;
  overflow: hidden;

  .services__title--firstly {
    margin: auto;
    color: #00c9a7;
    background: rgba(0, 201, 167, 0.1);
    border-radius: 6.1875rem;
    text-align: center;
    font-size: 16px;
    padding: 7px 15px;
    margin-bottom: 15px;
    display: block;
    width: fit-content;
    font-weight: 400;
  }

  .services__title--secondary {
    text-align: center;
    font-size: 16px;
    margin-bottom: 65px;
    line-height: 1.5;
    font-weight: 400;
  }

  .services__service {
    position: relative;
    height: 260px;
    margin-bottom: 60px;
  }

  .service__figure {
    position: absolute;
    top: -50px;
    right: 15px;
    width: 120px;
    height: 110px;
  }
  
  .service__container {
    padding: 15px;
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
    height: 200px;
  }

  .service__title {
    font-size: 20px;
    color: $red;
    margin-bottom: 20px;
    font-weight: 600;
    transition: all 0.5s;
  }

  .service__title--color {
    color: $lighterblue;
  }

  .service__content {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 0;
  }

  .service__info {
    display: block;
    text-align: center;
    background-color: $red;
    color: white;
    font-weight: 600;
    padding: 10px 0;
    text-decoration: none;
    transition: all 0.5s;
    font-size: 18px;
  }
  
  .services__service:hover .service__info{
    padding: 15px 0;
    box-shadow: 0 .125rem .25rem $red;
  }
    
  .services__service:hover .service__info{
    padding: 15px 0;
    box-shadow: 0 .125rem .25rem $red;
  }
  
  @media only screen and (max-width: 1024px) {

    .services__service {
      height: unset;
    }

    .service__container {
      height: unset;
    }
  }

  @media only screen and (max-width: 767px) {

    .services__title--firstly {
      font-size: 12px;
    }
  
    .services__title--secondary {
      font-size: 20px;
      margin-bottom: 30px;
    }

    .services__service {
      margin-bottom: 40px;
    }

    .service__figure {
      top: -15px;
      right: 15px;
      width: 85px;
      height: 85px;
    }

    .service__title {
      font-size: 16px;
      margin-bottom: 15px;
    }

    .service__title--color {
      display: block;
    }
  
    .service__content {
      font-size: 14px;
    }
  
    .service__info {
      font-size: 14px;
    }

  }

  @media only screen and (max-width: 320px) {

  }

}

/*--------------------------------------------------------------------------------------------------------------------*/


/* Media Queries for RTL - LTR */

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 767px) {

  .section-padding {
    padding: 30px 0;
  }
}

@media only screen and (max-width: 320px) {

}
