/*--------------------------------------------------------------------------------------------------------------------*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: white;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(196,35,52,0.8); 
    border-radius: 4px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(196,35,52,1); 
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* Main Style */

html, body {
    outline: none;
    font-family: 'Source Sans Pro', sans-serif!important;
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}

.section-padding {
  padding: 30px 0;
}

$red: #c42334;
$lightred: #cc2334;
$petrol: 	#0c2c34;
$blue: #0c2434;

/*--------------------------------------------------------------------------------------------------------------------*/
//NavBar Styles

nav {
  .navbar-brand {
    img {
      width: auto;
      height: 50px;
    }
  }
  
  .icon-bar {
    width: 25px;
    height: 2px;
    background-color: $red;
    display: block;
    transition: all 0.3s;
    margin-bottom: 5px;
  }
   
  .navbar-toggler {
    border: none;
    background: transparent !important;
  }
  
  .navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
   
  .navbar-toggler .middle-bar {
    opacity: 0;
  }
   
  .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
   
  .navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
  }
   
  .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
  }
   
  .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
  }
  
  .nav-item {
    padding: 26px 0;
  }
  
  .nav-link {
    text-align: center;
    padding: 0 15px!important;
    color: $petrol!important;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: $red!important;
  }
  
  .nav-link:active {
    color: $red!important;
  }

  .dropdown-toggle::after {
    vertical-align: 0.2;
}
  
  .sq-btn {
    border-color: $red!important;
    border-radius: 7px!important;
    margin: auto;
    background-color: $red!important;
    color: #fff;
  }
  
  .sq-btn:hover {
    box-shadow: 0px 0px 6px 0px $red;
  }
  
  .dropdown-menu {
    border: none!important;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    padding: 0;
    margin: 0;
    border-radius: unset;
  }
  
  .show > .dropdown-menu {
    visibility: visible;
    opacity: 1;
  }

  .service-container {
    padding: 20px 0;
    border-bottom: 1px solid #e7eaf3;
    position: relative;
    cursor: pointer;
    word-break: break-word;
  }

  .right-border::after {
    content: "";
    right: -25px;
    width: 1px;
    height: 80%;
    position: absolute;
    background-color: #e7eaf3;
  }

  .service-icon {
    font-size: 40px;
    color: $red;
    margin-inline-end: 15px;
  }

  .service-title {
    color: $petrol;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
  }

  .service-container:hover .service-title {
    color: $red;
    text-decoration: unset;
  }

  .service-desc {
    margin: 0; 
    color: #77838f;
    font-size: 16px;
  }

  .service-padding {
    padding: 0 25px;
  }

  .active {
    color: $red!important;
  }
  
  @media only screen and (min-width: 1025px) {
    .dropdown-menu {
      display: block!important;
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      box-shadow: 0 10px 20px rgba(0,0,0,0.08);
      border-top: 2px solid $red!important;
      transform: translateX(-585px);
      min-width: 900px;
    }
  
    .dropdown:hover .dropdown-menu {
      visibility: visible;
      opacity: 1;
      transform: translate(-585px,10px);
    }
    
    .show > .dropdown-menu {
      visibility: visible;
      opacity: 1;
      transform: translate(-585px,10px);
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .sq-btn {
      margin: 7px auto;
    }

    .nav-item {
      padding: 7px 0;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .navbar-toggler {
      margin-right: 3px;
      margin-top: 5px;
    }

    .navbar-brand {
  
      padding-inline-start: 12px;

      img {
        height: 35px;
      }
    }

    .right-border::after {
      display: none;
    }

    .service-icon {
      font-size: 28px;
    }

    .service-title {
      font-size: 14px;
    }

    .service-desc {
      font-size: 12px;
    }
  }
}

/*--------------------------------------------------------------------------------------------------------------------*/
//Header Styles

header {

  width: 100%;
  height: calc(100vh - 79px);
  position: relative;
  overflow: hidden;

  .header__text--title {
    color: $red;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 5px;
    font-size: 68px;
  }

  .header__text--content {
    color: $petrol;
    font-size: 22px;
  }

  #header__text--typing {
    font-weight: bold;
    color: $red;
  }

  .header__figure {
    position: relative;
  }

  .figure-image {
    position: absolute;
    width: 95%;
    height: auto;
  }

  .fill-primary {
    fill: $red;
  }

  @media only screen and (max-width: 1024px) {
    
    height: auto;
    padding-top: 60px;
    padding-bottom: 30px;

    .header__text--title {
      font-size: 52px;
    }

    .header__figure {
      display: none;
      visibility: hidden;
    }
  }
  
  @media only screen and (max-width: 767px) {

    padding-top: 30px;
    padding-bottom: 15px;

    .header__text--title {
      font-size: 28px;
    }
  
    .header__text--content {
      font-size: 14px;
    }
  }

  @media only screen and (max-width: 320px) {
    .header__text--content {
      font-size: 12px;
    }
  }

}

/*--------------------------------------------------------------------------------------------------------------------*/

.about-us {
  position: relative;
  overflow: hidden;

  .about-us__title {
    color: $red;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-size: 32px;
  }

  .about-us__content {
    color: $petrol;
    font-size: 20px;
    margin: 0;
  }

  /* Media Queries for RTL - LTR */

  @media only screen and (max-width: 1024px) {

  }

  @media only screen and (max-width: 767px) {
    .about-us__figure {
      display: none;
      visibility: hidden;
    }

    .about-us__title {
      font-size: 22px;
    }

    .about-us__content {
      font-size: 14px;
    }
  }

  @media only screen and (max-width: 320px) {

  }

}

/*--------------------------------------------------------------------------------------------------------------------*/




/* Media Queries for RTL - LTR */

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 767px) {

  .section-padding {
    padding: 15px 0;
  }
}

@media only screen and (max-width: 320px) {

}
