/*--------------------------------------------------------------------------------------------------------------------*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: white;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(196,35,52,0.8); 
  border-radius: 4px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(196,35,52,1); 
}
/*--------------------------------------------------------------------------------------------------------------------*/
/* Main Style */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

$red: #c42334;
$lightred: #c93848;
// $petrol: 	#0c2c34;
// $lightpetrol: #244148;
// $lighterpetrol: #3c565c;
$blue: #0c2434;
$lightblue: #243948;
$lighterblue: #3c4f5c;

html, body {
    outline: none;
    font-family: 'Poppins', sans-serif!important;
    font-size: 18px;
    padding: 0;
    margin: 0;
    color: $lighterblue;
    font-weight: 400;
    line-height: 1.7!important;
}

*:focus {
    outline: none;
}

.section-padding {
  padding: 60px 0;
}

.font-weight-bold {
  font-weight: 600!important;
}

.red--font {
  color: $red!important;
}

a {
  color: $lighterblue;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: 1.7!important;
}

/*--------------------------------------------------------------------------------------------------------------------*/
//NavBar Styles

nav {

  background: white;
  top: 0;
  z-index: 100;
  position: sticky!important;

  .navbar-brand {
    img {
      width: auto;
      height: 50px;
    }
  }
  
  .icon-bar {
    width: 25px;
    height: 2px;
    background-color: $red;
    display: block;
    transition: all 0.3s;
    margin-bottom: 5px;
  }
   
  .navbar-toggler {
    border: none;
    background: transparent !important;
  }
  
  .navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
   
  .navbar-toggler .middle-bar {
    opacity: 0;
  }
   
  .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
   
  .navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
  }
   
  .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
  }
   
  .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
  }
  
  .nav-item {
    padding: 26px 0;
  }
  
  .nav-link {
    text-align: center;
    padding: 0 15px!important;
    color: $lighterblue!important;
    font-size: 16px;
    transition: color 0.3s;
    font-weight: 500;
  }
  
  .nav-link:hover {
    color: $red!important;
  }
  
  .nav-link:active {
    color: $red!important;
  }

  .dropdown-toggle::after {
    vertical-align: 0.2;
}
  
  .sq-btn {
    border-color: $red!important;
    margin: auto;
    background-color: $red!important;
    font-size: 16px;

    a {
      color: #fff;
      text-decoration: none;
    }
  }
  
  .sq-btn:hover {
    box-shadow: 0px 0px 6px 0px $red;
  }
  
  .dropdown-menu {
    border: none!important;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    padding: 0;
    margin: 0;
    border-radius: unset;
  }
  
  .show > .dropdown-menu {
    visibility: visible;
    opacity: 1;
  }

  .service-container {
    padding: 20px 0;
    border-bottom: 1px solid #e7eaf3;
    position: relative;
    cursor: pointer;
    word-break: break-word;
  }

  .right-border::after {
    content: "";
    right: -25px;
    width: 1px;
    height: 80%;
    position: absolute;
    background-color: #e7eaf3;
  }

  .service-icon {
    width: 85px;
    height: 85px;
    margin-inline-end: 10px;
  }

  .service-title {
    color: $lighterblue;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s;
  }

  .service-container:hover .service-title {
    color: $red;
    text-decoration: unset;
  }

  .service-desc {
    margin: 0; 
    color: #77838f;
    font-size: 16px;
  }

  .service-padding {
    padding: 0 25px;
  }

  .active {
    color: $red!important;
  }
  
  @media only screen and (min-width: 1025px) {
    .dropdown-menu {
      display: block!important;
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      box-shadow: 0 10px 20px rgba(0,0,0,0.08);
      border-top: 2px solid $red!important;
      transform: translateX(-665px);
      min-width: 900px;
    }
  
    .dropdown:hover .dropdown-menu {
      visibility: visible;
      opacity: 1;
      transform: translate(-665px);
    }
    
    .show > .dropdown-menu {
      visibility: visible;
      opacity: 1;
      transform: translate(-665px);
    }
  }
  
  @media only screen and (max-width: 1024px) {

    position: unset!important;

    .sq-btn {
      margin: 7px auto;
    }

    .nav-item {
      padding: 7px 0;
    }
  }
  
  @media only screen and (max-width: 767px) {

    .navbar-toggler {
      margin-right: 3px;
      margin-top: 5px;
    }

    .navbar-brand {
  
      padding-inline-start: 12px;

      img {
        height: 35px;
      }
    }

    .nav-link {
      font-size: 14px;
    }

    .sq-btn {
      font-size: 14px;
    }
    
    .right-border::after {
      display: none;
    }

    .service-icon {
      width: 65px;
      height: 65px;
    }

    .service-title {
      font-size: 14px;
    }

    .service-desc {
      font-size: 14px;
    }
  }
}

/*--------------------------------------------------------------------------------------------------------------------*/
//Header Styles

header {

  width: 100%;
  height: calc(100vh - 79px);
  position: relative;
  overflow: hidden;

  .header__text--title {
    color: $red;
    letter-spacing: 2px;
    margin-bottom: 5px;
    font-size: 68px;
  }

  .header__text--content {
    font-size: 18px;
    margin-bottom: 0;
  }

  #header__text--typing {
    color: $red;
  }

  .header__figure {
    position: relative;
  }

  .header-svg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    margin: auto;
    z-index: -1;
  }

  .figure-image {
    position: absolute;
    width: 95%;
    height: auto;
  }

  .fill-primary {
    fill: $red;
  }

  @media only screen and (max-width: 1024px) {
    
    height: auto;
    padding-top: 60px;
    padding-bottom: 30px;

    .header__text--title {
      font-size: 52px;
    }

    .header__figure {
      display: none;
      visibility: hidden;
    }
  }
  
  @media only screen and (max-width: 767px) {

    padding-top: 30px;
    padding-bottom: 15px;

    .header__text--title {
      font-size: 28px;
    }
  
    .header__text--content {
      font-size: 14px;
    }

    #header__text--typing {
      display: flex;
    }

    br {
      display: none;
    }
  }

  @media only screen and (max-width: 320px) {

  }

}

/*--------------------------------------------------------------------------------------------------------------------*/
//About-US Styles

.about-us {
  position: relative;
  overflow: hidden;

  .about-us__title {
    color: $red;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 400;
  }

  .about-us__content {    
    font-size: 18px;
    margin: 0;
  }

  /* Media Queries for RTL - LTR */

  @media only screen and (max-width: 1024px) {

  }

  @media only screen and (max-width: 767px) {
    .about-us__figure {
      display: none;
      visibility: hidden;
    }

    .about-us__title {
      font-size: 22px;
    }

    .about-us__content {
      font-size: 14px;
    }
  }

  @media only screen and (max-width: 320px) {

  }

}

/*--------------------------------------------------------------------------------------------------------------------*/
//Speciality Styles

.speciality {
  position: relative;
  overflow: hidden;

  .speciality__title--firstly {
    margin: auto;
    color: #00c9a7;
    background: rgba(0, 201, 167, 0.1);
    border-radius: 6.1875rem;
    text-align: center;
    font-size: 16px;
    padding: 7px 15px;
    margin-bottom: 15px;
    display: block;
    width: fit-content;
    font-weight: 400;
  }

  .speciality__title--secondary {
    text-align: center;
    font-size: 28px;
    margin-bottom: 50px;
    font-weight: 400;
  }

  .speciality__figure {
    display: block;
    width: 120px;
    height: 120px;
    margin: auto;
  }

  .speciality__title {
    text-align: center;    
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }

  .speciality__content {
    text-align: center;   
    font-size: 16px;
    margin-bottom: 0;
  }

  @media only screen and (max-width: 1024px) {

  }
  
  @media only screen and (max-width: 767px) {
  
    .speciality__title--firstly {
      font-size: 12px;
    }
  
    .speciality__title--secondary {
      font-size: 20px;
      margin-bottom: 30px;
    }

    .speciality__figure {
      width: 85px;
      height: 85px;
    }

    .speciality__title {
      font-size: 16px;
    }
  
    .speciality__content {
      font-size: 14px;
      margin-bottom: 15px;
    }

  }
  
  @media only screen and (max-width: 320px) {
  
  }

}

/*--------------------------------------------------------------------------------------------------------------------*/
//Importance Styles

.importance {

  position: relative;
  overflow: hidden;

  .importance__question {   
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: 400;
  }

  .importance__answer {
    text-align: center;
    font-size: 16px;
    margin-bottom: 0;
  }

  .importance__title {
    color: $red;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
  }

  .importance__content { 
    font-size: 16px;
    margin-bottom: 0;
  }

  .importance__note {
    font-size: 14px;  
    text-align: center;  
    margin-bottom: 0;
    margin-top: 15px;
  }

  @media only screen and (max-width: 1024px) {

  }

  @media only screen and (max-width: 767px) {

    .importance__question {
      font-size: 20px;
    }
  
    .importance__answer {
      font-size: 12px;
    }

    .importance__title {
      font-size: 16px;
    }
  
    .importance__content {
      font-size: 14px;
      margin-bottom: 15px;
    }
    
    .order-0 {
      order: unset;
    }

    .order-1 {
      order: unset;

    }

    .importance__note {
      font-size: 12px;  
    }
  }

  @media only screen and (max-width: 320px) {

  }

}

/*--------------------------------------------------------------------------------------------------------------------*/
//Our Services Styles

.services {

  position: relative;
  overflow: hidden;

  .services__title--firstly {
    margin: auto;
    color: #00c9a7;
    background: rgba(0, 201, 167, 0.1);
    border-radius: 6.1875rem;
    text-align: center;
    font-size: 16px;
    padding: 7px 15px;
    margin-bottom: 15px;
    display: block;
    width: fit-content;
    font-weight: 400;
  }

  .services__title--secondary {
    text-align: center;
    font-size: 16px;
    margin-bottom: 100px;
    font-weight: 400;
  }

  .services__service {
    position: relative;
    margin-bottom: 70px;
  }

  .service__figure {
    position: absolute;
    top: -50px;
    right: 15px;
    width: 120px;
    height: 110px;
  }
  
  .service__container {
    padding: 15px;
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
    min-height: 320px;
  }

  .service__title {
    font-size: 20px;
    color: $red;
    margin-bottom: 20px;
    font-weight: 600;
    transition: all 0.3s;
    width: 70%;
  }

  .service__title--color {
    color: $lighterblue;
  }

  .service__content {
    font-size: 16px;
    margin-bottom: 0;
  }

  .service__info {
    display: block;
    text-align: center;
    background-color: $red;
    color: white;
    font-weight: 600;
    padding: 7px 0;
    text-decoration: none;
    transition: all 0.3s;
    font-size: 16px;
  }

  .right-arrow {
    transition: transform 0.3s;
  }

  // .services__service:hover .service__info {
  //   padding: 15px 0;
  //   box-shadow: 0 .125rem .25rem $red;
  // }
    
  .service__info:hover .right-arrow {
    transform: translateX(10px);
  }

  @media only screen and (max-width: 1024px) {

  }

  @media only screen and (max-width: 767px) {

    .services__title--firstly {
      font-size: 12px;
    }
  
    .services__title--secondary {
      font-size: 14px;
      margin-bottom: 50px;
    }

    .services__service {
      margin-bottom: 40px;
    }

    .service__figure {
      top: -25px;
      width: 85px;
      height: 85px;
    }

    .service__container {
      min-height: unset;
    }

    .service__title {
      font-size: 16px;
      margin-bottom: 15px;
    }

    .service__title--color {
      display: block;
    }
  
    .service__content {
      font-size: 14px;
    }
  
    .service__info {
      font-size: 14px;
    }

  }

  @media only screen and (max-width: 320px) {

  }

}

/*--------------------------------------------------------------------------------------------------------------------*/
//Acknowledgments Styles

.acknowledgment {

  position: relative;
  overflow: hidden;

  .acknowledgment__title--firstly {
    margin: auto;
    color: #00c9a7;
    background: rgba(0, 201, 167, 0.1);
    border-radius: 6.1875rem;
    text-align: center;
    font-size: 16px;
    padding: 7px 15px;
    margin-bottom: 15px;
    display: block;
    width: fit-content;
    font-weight: 400;
  }

  .acknowledgment__title--secondary {
    text-align: center;
    font-size: 16px;
    margin-bottom: 60px;
    font-weight: 400;
  }

  .acknowledgment__logo {
    filter: grayscale(100%);
    transition: all linear .3s;
    width: 100%;
    height: 60px;
  }

  .acknowledgment__logo:hover {
    filter: none;
  }

  .owl-nav {
    margin-bottom: 30px;
  }

  .owl-prev, .owl-next {
    position: absolute;
    top: 0;
    bottom: 0;  
    font-size: 45px!important;
  }

  .owl-prev {
    left: 15px;
  }

  .owl-next {
    right: 15px;
  }

  .owl-theme .owl-nav [class*=owl-] {
    margin: 0;
    color: $red;
    border: none!important;
    transition: font-size 0.3s;
  }

  .owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    outline: unset;
    font-size: 55px!important;
  }

  .owl-theme .owl-nav [class*=owl-]:focus {
    outline: unset;
  }
  
  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: $red;
  } 

  @media only screen and (max-width: 1024px) {

  }

  @media only screen and (max-width: 767px) {

    .acknowledgment__title--firstly {
      font-size: 12px;
    }
  
    .acknowledgment__title--secondary {
      font-size: 14px;
      margin-bottom: 30px;
    }

    .acknowledgment__logo {
      height: 30px;
    }

    .owl-nav {
      margin-bottom: 15px;
    }

    .owl-prev, .owl-next {
      font-size: 40px!important;
    }

    .owl-theme .owl-dots .owl-dot span {
      width: 7px;
      height: 7px;
    }

  }

  @media only screen and (max-width: 320px) {

  }
}

/*--------------------------------------------------------------------------------------------------------------------*/
//Contact US Styles

.contact-us {

  position: relative;
  overflow: hidden;

  background-image: linear-gradient(0deg, rgba(55, 125, 255, 0.05) 0%, transparent 100%);
  background-repeat: repeat-x;

  .contact-us__title {

    padding: 12px;
    margin-bottom: 60px;
    text-align: center;
    width: fit-content;

    .contact-us__title--red {
      background-color: $red;
      color: white;
      padding: 7px 15px;
      margin-inline-end: 5px;
      font-size: 16px;
    }

    .contact-us__title--normal {
      font-size: 16px;
    }

    .contact-us__title--normal-red {
      font-size: 16px;
      color: $red;
    }
  }

  .contact-us__title--secondary {
    text-align: center;
    font-size: 16px;
    margin-bottom: 60px;
    font-weight: 400;
  }

  .contact-us__figure {
    display: block;
    margin: auto;
    width: 120px;
    height: 120px;
  }

  .contact-us__info--title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }

  .contact-us__info--info {
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
  }

  .contact-us__form {

    position: relative;
    font-size: 16px;

    label {
      font-size: 16px;
    }

    .form-control {
      font-size: 16px;
      color: $lighterblue;
    }

    input::placeholder  {
      font-size: 16px;
    }

    input::-webkit-input-placeholder  {
      font-size: 16px;
    }

    .form-control:focus {
      color: $lighterblue;
      background-color: #fff;
      border-color: $lightred;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(196,35,52,.25);
    }

    .contact-us__form-submit {
      display: block;
      background-color: $red;
      color: white;
      font-weight: 500;
      font-size: 16px;
      border-color: #c42334!important;
      padding: 7px 30px;
    }

    .contact-us__form-submit:hover {
      box-shadow: 0 0 6px 0 #c42334;
    }
  }

  .contact-us__form::after {
    content: "";
    right: -15px;
    top: 0;
    bottom: 0;
    width: 1px;
    height: 80%;
    margin: auto;
    position: absolute;
    background-color: #e7eaf3;
  }

  @media only screen and (max-width: 1024px) {
    .contact-us__form {

      .contact-us__form-submit {
        margin-bottom: 60px;
      }
    }

    .contact-us__form::after {
      display: none;
    }
  }
  
  @media only screen and (max-width: 767px) {

    .contact-us__title {

      padding: 8px;
      margin-bottom: 30px;
  
      .contact-us__title--red {
        padding: 4px 8px;
        font-size: 14px;
      }
  
      .contact-us__title--normal {
        font-size: 14px;
      }
  
      .contact-us__title--normal-red {
        font-size: 14px;
      }
    }
  
    .contact-us__title--secondary {
      font-size: 14px;
      margin-bottom: 30px;
    }

    .contact-us__form {

      font-size: 14px;
  
      label {
        font-size: 14px;
      }
  
      .form-control {
        font-size: 14px;
      }
  
      input::placeholder  {
        font-size: 14px;
      }
  
      input::-webkit-input-placeholder  {
        font-size: 14px;
      }

      .contact-us__form-submit {
        font-size: 14px;
        padding: 7px 30px;
        margin-bottom: 30px;
      }
    }

    .contact-us__figure {
      width: 85px;
      height: 85px;
    }
  
    .contact-us__info--title {
      font-size: 16px;
    }
  
    .contact-us__info--info {
      font-size: 14px;
      margin-bottom: 15px;
    }

  }
  
  @media only screen and (max-width: 320px) {
  
  }

}

/*--------------------------------------------------------------------------------------------------------------------*/
//Footer Styles

footer {

  position: relative;
  overflow: hidden;

  .upper-footer {
    padding: 35px 0;
  }

  .footer__nav {

    margin: 0;
    padding: 0;

    .footer__nav--item {
      display: inline;
      margin-inline-end: 15px;
      font-size: 16px;
      transition: color 0.3s;
      cursor: pointer;
      font-weight: 500;

      a {
        transition: color 0.3s;
        text-decoration: none;
      }

      a:hover {
        color: $red;
      }
    }
  }

  .footer__social {

    margin: 0;
    padding: 0;

    .footer__social--item {
      display: inline;
      margin-inline-start: 30px;
      font-size: 20px;
      transition: color 0.3s;
      cursor: pointer;

      a {
        transition: all 0.3s;
        text-decoration: none;
        opacity: 0.7;
      }

      a:hover {
        color: $red;
        opacity: 1;
      }

    }
  }

  .lower-footer {
    padding: 35px 0;
    background-color: $red;
  }

  .footer_copyrights {
    text-align: center;
    color: white;
    font-size: 16px;
  }


  @media only screen and (max-width: 1024px) {
    .footer__social {

      .footer__social--item {
        font-size: 18px;
        margin-inline-start: 20px;
      }
    }
  }
  
  @media only screen and (max-width: 767px) {

    .footer__nav {

      text-align: center;

      .footer__nav--item {
        margin: 5px;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .footer__social {

      text-align: center;
      margin-top: 15px;

      .footer__social--item {
        margin: 10px;
        font-size: 16px;
      }
    }

    .footer_copyrights {
      font-size: 14px;
    }
  }
  
  @media only screen and (max-width: 320px) {
  
  }
  
}

/*--------------------------------------------------------------------------------------------------------------------*/
//To Top Styles

#back2Top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  padding: 10px 15px;
  opacity: 0.7;
  background-color: $red;
  color: white;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition: opacity 0.3s ease-out;
  display: none;
  overflow: hidden;
}

#back2Top:hover {
  opacity: 1;
}

/*--------------------------------------------------------------------------------------------------------------------*/
//Service Page styles

.service-details {

  padding: 30px 0;
  position: relative;
  overflow: hidden;

  .service-details__feature-title {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
  }

  .service-details__feature-container {
    font-size: 16px;
    margin-bottom: 0;
  }

  .service-details__feature {
    list-style: none;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
    position: relative;
  }

  .service-details__feature:not(:last-child)::after {
    position: absolute;
    bottom: -28px;
    left: 12px;
    height: 100%;
    border-left: 2px dashed #e7eaf3;
    content: "";
  }

  .service-details__tick {
    color: $red;
    font-size: 28px;
    margin-inline-end: 15px;
  }

  .service-details__desc {
    border: 1px solid #e7eaf3;
    padding: 15px 30px;
    min-height: 600px;
    transition: box-shadow 0.3s, border 0.3s;
  }

  .service-details__desc:hover {
    box-shadow: 0 .5rem 1rem rgba(196, 35, 52,0.3)!important;
    border: 1px solid $red;
  }

  .service-details__desc-title {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 500;
  }

  .service-details__desc-info {
    font-size: 16px;
    margin-bottom: 25px;
  }

  .service-details__title--firstly {
    margin: auto;
    color: #00c9a7;
    background: rgba(0, 201, 167, 0.1);
    border-radius: 6.1875rem;
    text-align: center;
    font-size: 16px;
    padding: 7px 15px;
    margin-bottom: 15px;
    display: block;
    width: fit-content;
    font-weight: 400;
  }

  .service-details__title--secondary {
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 0;
  }

  .service-details__card {
    border: 1px solid #e7eaf3;
    padding: 15px;
    transition: box-shadow 0.3s, border 0.3s;
    margin-bottom: 30px;
  }

  .service-details__card:hover {
    box-shadow: 0 .5rem 1rem rgba(196, 35, 52,0.3)!important;
    border: 1px solid $red;
  }

  .service-details__card-figure {
    font-size: 55px;
    color: $red;
    margin-inline-end: 15px;
  }

  .service-details__card-info {
    font-size: 16px;
    margin-bottom: 0;
  }


  @media only screen and (max-width: 1024px) {
    .service-details__desc {
      min-height: unset;
      margin-bottom: 30px;
    }
  }

  @media only screen and (max-width: 767px) {

    .service-details__feature-title {
      font-size: 14px;
    }
  
    .service-details__feature-container {
      font-size: 14px;
      margin-bottom: 0;
    }

    .service-details__feature:not(:last-child)::after {
      bottom: -24px;
      left: 9px;
    }

    .service-details__tick {
      font-size: 20px;
      margin-inline-end: 10px;
    }

    .service-details__desc {
      padding: 15px;
    }

    .service-details__desc-title {
      font-size: 16px;
    }
  
    .service-details__desc-info {
      font-size: 14px;
    }

    .service-details__title--firstly {
      font-size: 12px;
    }
  
    .service-details__title--secondary {
      font-size: 20px;
    }

    .service-details__card-figure {
      font-size: 35px;
      margin-inline-end: 10px;
    }
  
    .service-details__card-info {
      font-size: 14px;
    }

  }

  @media only screen and (max-width: 320px) {

  }

}

/*--------------------------------------------------------------------------------------------------------------------*/
//Service Page styles

.training-title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 25px;
}

.training-details {

  position: relative;
  overflow: hidden;
  padding: 30px 0;


  .owl-nav {
    margin-bottom: 0;
  }

  .owl-prev, .owl-next {
    position: absolute;
    top: 0;
    bottom: 0;  
    font-size: 45px!important;
  }

  .owl-prev {
    left: 15px;
  }

  .owl-next {
    right: 15px;
  }

  .owl-theme .owl-nav [class*=owl-] {
    margin: 0;
    color: $red;
    border: none!important;
    transition: font-size 0.3s;
  }

  .owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    outline: unset;
    font-size: 55px!important;
  }

  .owl-theme .owl-nav [class*=owl-]:focus {
    outline: unset;
  }
  
  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: $red;
  } 

  .training-details__course-container {
    position: relative;
    padding: 10px;
    margin: 15px 5px;
    min-height: 320px;
  }

  .training-details__course-title {
    font-size: 16px;
    color: #c42334;
    margin-top: 50px;
    margin-bottom: 0;
    font-weight: 500;
  }

  .training-details__course-info {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .training-details__course-wave {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

  .training-details__course-status {
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 1;
    background-color: white;
    padding: 3px 15px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    color: $red;
    font-weight: 500;
    font-size: 16px;
  }

  .training-details__course-desc {
    font-size: 16px;
    color: #c42334;
    margin-bottom: 5px;
  }

  .table {
    color: $lighterblue;
    text-align: center;
  }

  .table td, .table th {
    font-weight: 400;
    font-size: 16px;
  }   

  .table-status {
    color: white;
    font-weight: 500;
  }

  .table .thead-dark th {
    background-color: $blue;
    border-color: $blue;
  }


  @media only screen and (max-width: 1024px) {

  }
  
  @media only screen and (max-width: 767px) {

    .owl-prev, .owl-next {
      font-size: 40px!important;
    }

    .owl-theme .owl-dots .owl-dot span {
      width: 7px;
      height: 7px;
    }

    .training-details__course-title {
      font-size: 14px;
    }
  
    .training-details__course-info {
      font-size: 14px;
    }
  
    .training-details__course-status {
      top: 28px;
      font-size: 14px;
    }
  
    .training-details__course-desc {
      font-size: 14px;
    }
  }
  
  @media only screen and (max-width: 320px) {
  
  }
  
}


/*--------------------------------------------------------------------------------------------------------------------*/

/* Media Queries for RTL - LTR */

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 767px) {

  ::-webkit-scrollbar {
    height: 3px;
  }

  .section-padding {
    padding: 30px 0;
  }

  #back2Top {
    bottom: 10px;
    right: 10px;
    padding: 7px 12px;
    font-size: 14px;
    text-align: center;
  }

  .training-title {
    font-size: 19px;
  } 
}

@media only screen and (max-width: 320px) {

}
